Repository appleseedhq/appleseed, pull requests merged in 2018-12, with the labels that each got.

#2362 Add Color Decision List OSL shader
  src/appleseed.shaders/CMakeLists.txt
  src/appleseed.shaders/src/appleseed/as_asc_cdl.osl
Labels: OSL, PR-Squash, appleseed.shaders

#2365 Add color inversion OSL shader
  src/appleseed.shaders/CMakeLists.txt
  src/appleseed.shaders/src/appleseed/as_inv_color.osl
Labels: OSL, appleseed.shaders

#2368 Rephrase UV tiles comments.
  src/appleseed.shaders/src/appleseed/as_texture.osl
Labels: Documentation

#2369 Small fixes to as_invert_color.osl
  src/appleseed.shaders/CMakeLists.txt
  src/appleseed.shaders/src/appleseed/as_invert_color.osl
Labels: OSL

#2348 Increase default number of bounces
  src/appleseed.shaders/src/appleseed/as_blackbody.osl
  src/appleseed.shaders/src/appleseed/as_disney_material.osl
  src/appleseed.shaders/src/appleseed/as_glass.osl
  src/appleseed.shaders/src/appleseed/as_metal.osl
  src/appleseed.shaders/src/appleseed/as_plastic.osl
  src/appleseed.shaders/src/appleseed/as_sbs_pbrmaterial.osl
  src/appleseed.shaders/src/appleseed/as_standard_surface.osl
  src/appleseed.shaders/src/appleseed/as_subsurface.osl
  src/appleseed.shaders/src/appleseed/as_toon.osl
Labels: On Hold, appleseed.shaders
